.section-app {
    &__screenshots {
        display: flex;
    }
}

.screenshot-1 {
    position: relative;
    left: 105px;
    z-index: 1;
}
.screenshot-2 {
    z-index: 2;
}
.screenshot-3 {
    position: relative;
    right: 105px;
    z-index: 1;
}